<%  %>


<form class="" action= "<%= action %>" method="post">

  <%= render "shared/errors" %>
  
  <label>Email</label>
  <br>
  <input type="text" name="user[email]" value="">
  <label>Password</label>
  <br>
  <input type="password" name="user[password]" value="">

  <%= button_to  %>
</form>
